// Index
@font-face {
  font-family: 'Monster';
  src: url('../../assets/fonts/Monster Clubhouse.ttf');
  font-style: normal;
  font-weight: normal;
  font-size: 220px;
}

// App
.App {
  text-align: center;
  font-family: Monster,
  monospace;
}

//.App-header {
//  background-color: #FFFFFF;
//  min-height: 100vh;
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//  justify-content: center;
//  font-size: calc(10px + 2vmin);
//  color: #282c34;
//}

.App-banner {
  width: 100%;
}
