// Index
@font-face {
  font-family: 'Monster';
  src: url('../../assets/fonts/Monster Clubhouse.ttf');
  font-style: normal;
  font-weight: normal;
  font-size: 220px;
}

// App
.App {
  text-align: center;
  font-family: Monster,
  monospace;
}

.App-banner {
  width: 100%;
}

// Card
.cardCategory {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686
}

.cardTitle {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  text-decoration: none !important;
  font-weight: 700 !important;
  font-size: 42px;
  color: #D84A4A;
  line-height: 150%
}

.card__by {
  font-size: 12px;
  font-weight: 700
}

.card__author {
  font-weight: 700;
  text-decoration: none;
  color: #AD7D52
}

.card {
  margin-right: 25px;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  width: 33.3%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 13px 10px -7px rgba(0, 0, 0, 0.1)
}
